import { String, Boolean } from 'oak-domain/lib/types/DataType';
import { EntityShape } from 'oak-domain/lib/types/Entity';
import { EntityDesc } from 'oak-domain/lib/types/EntityDesc';

export interface Schema extends EntityShape {
    name: String<32>;
}


const entityDesc: EntityDesc<Schema, '', '', {}> = {
    locales: {
        zh_CN: {
            name: '实体',
            attr: {
                name: '名称',
            },
        },
    },
};
