export default OakComponent({
    {{#if isVirtual}}
    // Virtual Component
    {{else}}
    entity: '{{entityName}}',
    {{/if}}
    isList: {{isList}},
    {{#if autoProjection}}
    projection: {
        {{#each projectionFields}}
        {{this}}: 1,
        {{/each}}
    },
    {{/if}}
    formData({ data }) {
        return {
            {{#if isList}}
            list: data,
            {{else}}
            item: data,
            {{/if}}
        };
    },
});
